.banner {
    padding: 0.1rem 0.5rem;
    background-color: #013244 !important;
}

.side, .content {
    margin: 0;
    padding: 1rem 1rem;
    background-color: white !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    border-radius: 0;
}

.title {
    font-size: 0.8rem;
    cursor: pointer;
    align-self: baseline;
    text-align: center;
}

.title:hover, .title:active {
    color: #035c81;
}

.label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8rem !important;
}

.create {
    background-color: #015273;
    border-radius: 12px;
    padding: 0.5rem 0.3rem;
    text-align: center;
    color: white;
}

.email {
    margin: 2rem 6rem;
    background: white;
    width: 100%;
    height: auto;
}


.user {
    font-weight: bolder;
    cursor: pointer;
    color: #013244;
    margin-right: 3rem;
}

.search input {
    width: 50%;
    border-radius: 0;
    float:left;
    margin-left: 1.5rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}


.form-label {
    font-size: 0.9rem !important;
}

.head {
    background-color: #013244;
    color: #013244;
    border-radius: 5px 5px 0 0;
}

.mail-menu {
    color: #013244;
}

.cursor {
    cursor: pointer;
}

.chosen {
    background-color: #013244;
    padding: 4px 1rem;
    color: white;
    border: none;
    border-radius: 20px;
}
.chosen:hover, .chosen:active {
    background-color: #d7760d !important;
}
.chosen:active {
    background-color: #013244 !important;
}

.menu {
    color: #013244;
    padding: 4px;
    background-color: transparent !important;
    border: none !important;
    font-weight: 800 !important;
}

.menu:hover, .menu:active{
    color: #d7760d !important;
}

.menu:active {
    color: #013244 !important;
}

.sidenav {
    padding-left: 0;
    margin-left: 0;
}

.sidenav-menu {
    padding: .2rem 0.1rem;
}

.sidenav-menu:hover, .sidenav-menu:active {
    color: #d7760d !important;
    font-weight: bolder;
}
.sidenav-menu:active {
    color: #a25909;
}

.list {
    margin-left: 10rem;
}

.scrollbar {
    z-index: -1;
    width: 100%;
    height: 600px;
    background: #fff;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px; }

.scrollbar-black::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-black::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; }

.scrollbar-black::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.4);
    background-color: #013244; }

.text-space {
    white-space: nowrap;
}
.show>.dropdown-menu {
    display: block;
    position: absolute;
}

@media screen and (max-width: 575px){
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}

@media screen and (max-width: 800px){
    .user-name {
        display: none;
    }

    .search input {
        width: 40%;
    }
}

@media screen and (max-width: 1000px){
    .word {
        display: none;
    }

}

