* {
    font-family: Montserrat, 'SansSerif', serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: normal;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0 !important;
    overflow: auto;
    background-color: #e0d9d5;
}

.bg {
    background-color: #e0d9d5;
}

.cover, .rcover {
    justify-self: center !important;
    margin: 5rem 3rem;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

@media screen and (min-width: 600px){
    .cover {
        margin: 5rem 10rem !important;
        justify-self: center;
    }
}

@media screen and (min-width: 770px){
    .cover, .rcover {
        margin: 5rem 12rem !important;
        justify-self: center;
    }
}

@media screen and (min-width: 900px){
    .cover {
        margin: 5rem auto !important;
        width: 40% !important;
    }
}

@media screen and (min-width: 1000px){
    .cover {
        margin: 5rem auto !important;
        width: 40% !important;
    }
}

